ion-grid {
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-input {
  --background: rgb(219, 219, 219);
  --padding-end: 8px;
  border-radius: 10px;
  font-size: 0.9em;
  border: 1px solid #f1f1f1;
}

.passwordIcon {
  font-size: 2rem !important;
  position: relative !important;
  top: 14px !important;
  margin: 0 auto !important;
}

.title {
 text-align: center;
} 