<ion-header no-border>
  <ion-toolbar>
    <!-- <ion-button fill="clear" (click)=goAdmin()></ion-button> -->
    <ion-title>{{'SETTINGS.TITLE' | translate}}</ion-title>
    <ion-button color="dark" slot="start" fill="clear" (click)="goBack()">
      <ion-icon name="arrow-dropleft"></ion-icon>
    </ion-button>
    <ion-button color="success" slot="end" fill="clear" (click)="confirmSettings()">
      <ion-icon name="checkmark-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <br>
    <ion-row justify-content-center>
      <ion-avatar>
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
    </ion-row>
    <br>
    <ion-row justify-content-center>
      <p *ngIf="!isprof">{{'SETTINGS.STATUS_STUD' | translate}}</p>
      <p *ngIf="isprof">{{'SETTINGS.STATUS_PROF' | translate}}</p>
    </ion-row>
    <ion-row justify-content-center>
      <h4>{{username}}</h4>
    </ion-row>
    <br>
    <ion-row justify-content-center>
      <ion-button class="testtest" size="small" fill="clear" (click)="changeName()">
        {{'SETTINGS.CHANGE_ND' | translate}}
      </ion-button>
      <ion-button class="testtest" size="small" fill="clear" (click)="resetPassword()">
        {{'LOGIN.CHANGE_PASSWORD' | translate}}
      </ion-button>
    </ion-row>
    <br>
    <ion-row *ngIf="buttonClickedNewND">
      <ion-item>
        <ion-label position="stacked">{{'SETTINGS.CHANGE_ND' | translate}}</ion-label>
        <ion-input [(ngModel)]="changeName" required="true"></ion-input>
      </ion-item>
    </ion-row>
    <br>

    <ion-row>
      <ion-item class="item-select">
        <ion-label>{{'SETTINGS.LANGUAGE' | translate}}</ion-label>
        <ion-select interface="action-sheet" cancelText="Annuler" placeholder="{{'SETTINGS.FR_EN' | translate}}">
          <ion-select-option value="fr">{{'SETTINGS.FR' | translate}}</ion-select-option>
          <ion-select-option value="en">{{'SETTINGS.EN' | translate}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-row>
    <ion-row >
      <ion-item class="item-select">
        <ion-label>{{'SETTINGS.NIGHT' | translate}}</ion-label>
        <ion-toggle *ngIf="darkMode" [(ngModel)]="darkMode" (ionChange)="changeDarkMode()" checked color="dark"></ion-toggle>
        <ion-toggle *ngIf="!darkMode" [(ngModel)]="darkMode" (ionChange)="changeDarkMode()" color="dark"></ion-toggle>
      </ion-item>
    </ion-row>
  </ion-grid>
 
  <br>
  <br>
  <br>
  <br>
  <ion-button (click)="GetUserInfos()">Infos</ion-button>
  <br>

  <ion-button (click)="ChangeID()">ID</ion-button>
</ion-content>