<ion-header>
  <ion-toolbar>
    <!-- <ion-button fill="clear" (click)=goAdmin()></ion-button> -->
    <ion-title>{{'SETTINGS.TITLE' | translate}}</ion-title>
    <ion-button color="dark" slot="start" fill="clear" (click)="goBack()">
      <ion-icon name="arrow-dropleft"></ion-icon>
    </ion-button>
    <ion-button color="success" slot="end" fill="clear" (click)="confirmSettings()">
      <ion-icon name="checkmark-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <br>
    <ion-row justify-content-center>
      <ion-avatar>
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
    </ion-row>
    <br>
    <ion-row justify-content-center>
      <p *ngIf="!isprof">{{'SETTINGS.STATUS_STUD' | translate}}</p>
      <p *ngIf="isprof">{{'SETTINGS.STATUS_PROF' | translate}}</p>
    </ion-row>
    <ion-row justify-content-center>
      <h4>{{name}}</h4>
    </ion-row>
    <ion-row justify-content-center>
      <ion-button class="testtest" size="small" fill="clear" (click)="onButtonClickNewND()">
        {{'SETTINGS.CHANGE_ND' | translate}}
      </ion-button>
      <ion-button class="testtest" size="small" fill="clear" (click)="onButtonClickNewPWD()">
        {{'SETTINGS.CHANGE_PWD' | translate}}
      </ion-button>
    </ion-row>
    <br>
    <ion-row *ngIf="buttonClickedNewND">
      <ion-item>
        <ion-label position="stacked">{{'SETTINGS.CHANGE_ND' | translate}}</ion-label>
        <ion-input [(ngModel)]="changeName" required="true"></ion-input>
      </ion-item>
    </ion-row>
    <br>
    <ion-row *ngIf="buttonClickedNewPWD">
      <ion-item>
        <ion-label position="stacked">{{'SETTINGS.CHANGE_PWD' | translate}}</ion-label>
        <ion-input [(ngModel)]="changePassword" required="true"></ion-input>
      </ion-item>
    </ion-row>
    <br>
    <ion-row>
      <ion-item class="item-select">
        <ion-label>{{'SETTINGS.LANGUAGE' | translate}}</ion-label>
        <ion-select placeholder="{{'SETTINGS.FR_EN' | translate}}">
          <ion-select-option value="fr">{{'SETTINGS.FR' | translate}}</ion-select-option>
          <ion-select-option value="en">{{'SETTINGS.EN' | translate}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-row>

    <ion-row>
      <ion-button color="medium" class="buttonAdmin"></ion-button>
    </ion-row>
  </ion-grid>
</ion-content>

<footer class="ion-text-center">
  <ion-button fill="clear" (click)="disconnect()">{{'SETTINGS.DISCONNECT' | translate}}</ion-button>
</footer>