ion-text {
text-align: center
}

ion-list {
    text-align: center;
}

.center {
    text-align: center;
}

.buttonAdmin {
    --opacity: 0.05;
}
.item-select {
    width: 100%
}

.testtest {
    font-size: 10px
}