<ion-header no-border>
  <ion-toolbar>
    <ion-title>{{'HOMEWORK.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let homework of tab_homeworks;let i = index;">
    <ion-card-title>{{'HOMEWORK.FOR_DATE' | translate}} {{homework.fordate_homework | date: 'dd/MM/yy'}}
    </ion-card-title>
    <ion-card-content>

      <ion-list>
        <p>{{'COMMON.SUBJECT' | translate}} {{homework.name_homework}}</p>
        <p>{{'HOMEWORK.TYPE' | translate}} {{homework.type_homework}}</p>
        <p>{{'HOMEWORK.GIVE_DATE' | translate}} {{homework.givedate_homework| date: 'dd/MM/yy'}}</p>
        <p>{{'HOMEWORK.INFOS' | translate}} {{homework.infos_homework}} </p>
      </ion-list>

    </ion-card-content>
  </ion-card>
  
</ion-content>