<ion-header>
  <ion-toolbar>
    <ion-title>homelogin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid>

        <ion-row justify-content-center>
          <ion-text color="medium">
            <h4>Page d'accueil</h4>
          </ion-text>
        </ion-row>
    
        <br>
    
        <ion-row justify-content-center>
          <ion-button color="primary" (click)="goLogin()">
            <ion-icon name="arrow-dropright"></ion-icon>
            &nbsp;&nbsp;&nbsp; Se connecter
          </ion-button>
        </ion-row>
    
        <br>
    
        <ion-row justify-content-center>
          <ion-button color="primary" (click)="registerAccount()">
            <ion-icon name="arrow-dropright"></ion-icon>
            &nbsp;&nbsp;&nbsp; S'enregistrer
          </ion-button>
        </ion-row>
        
        <br>
    
      </ion-grid>

</ion-content>
