<ion-header>
  <ion-toolbar>
    <ion-title>CONNEXION</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <br>
  <br>

  <ion-text color="primary">
    <h4>Vous êtes :</h4>
  </ion-text>

  <br>
  <br>
  <br>
  <br>

  <ion-button (click)="goHome()">
    <ion-icon name="arrow-dropright"></ion-icon>
    &nbsp;&nbsp;&nbsp; Élève
  </ion-button>
  <br>
  <br>
  <ion-button (click)="goHome()">
    <ion-icon name="arrow-dropright"></ion-icon>
    &nbsp;&nbsp;&nbsp; Professeur
  </ion-button>
  
  </ion-content>