<ion-header>
  <ion-toolbar>
    <ion-title>{{'LOGIN.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>

    <ion-row justify-content-center>
      <ion-text color="medium">
        <h4>{{'LOGIN.H4' | translate }}</h4>
      </ion-text>
    </ion-row>

    <br>

    <ion-row justify-content-center>
      <ion-button color="medium" (click)="confirmLoginStudent()">
        <ion-icon name="arrow-dropright"></ion-icon>
        &nbsp;&nbsp;&nbsp; {{'LOGIN.STUDENT' | translate }}
      </ion-button>
    </ion-row>

    <br>

    <ion-row justify-content-center>
      <ion-button color="medium" (click)="confirmLoginProf()">
        <ion-icon name="arrow-dropright"></ion-icon>
        &nbsp;&nbsp;&nbsp; {{'LOGIN.PROF' | translate }}
      </ion-button>
    </ion-row>

  </ion-grid>

</ion-content>