<ion-grid>
  <ion-row>
    <ion-col>
      <h2 class="ion-text-center">Créer un compte</h2>
      <br>
      <form class="ion-text-center" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <ion-label for="email">Adresse mail</ion-label>
          <ion-input class="test" type="text" id="email" class="form-control" formControlName="email"></ion-input>

        </div>
        <div class="form-group">
          <label for="password">Mot de passe</label>
          <ion-input type="password" id="password" class="form-control" formControlName="password" icon="none" icon-align="right"></ion-input>
        </div>
        <br>
        <ion-button color="primary" type="submit" [disabled]="signupForm.invalid">Créer mon compte</ion-button>
      </form>
      <br>
      <ion-text class="ion-text-center" color="danger">{{errorMessage}}</ion-text>
    </ion-col>
  </ion-row>
</ion-grid>