<ion-grid>
  <ion-row>
    <ion-col>
      <h2 class="ion-text-center">Créer un compte</h2>
      <br>
      <form class="ion-text-center" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <ion-label for="email">Adresse mail</ion-label>
          <ion-input type="text" id="email" class="form-control itemform" formControlName="email"></ion-input>
        </div>
        <br>
        <div class="form-group">
          <label for="password">Mot de passe</label>
          <ion-input type="password" id="password" class="form-control itemform" formControlName="password" icon="none"
            icon-align="right"></ion-input>
        </div>
        <br>
        <div>
          <ion-label for="status">Vous êtes :</ion-label>
          <ion-select [(ngModel)]="statusInput" formControlName="status" placeholder="Une chèvre"
            (ionChange)="setNameForStudent()">
            <ion-select-option value="student">Eleve</ion-select-option>
            <ion-select-option value="professor">Professeur</ion-select-option>
          </ion-select>
        </div>
        <br *ngIf="isStudent">
        <div *ngIf="isStudent">
          <ion-label>Votre Nom</ion-label>
          <ion-input type="text" id="name" class="form-control itemform" formControlName="name" placeholder="Ex: la chèvre du CFA"></ion-input>
        </div>
        <br>
        <ion-button color="primary" type="submit" [disabled]="signupForm.invalid">Créer mon compte</ion-button>
        <br>
        <ion-text class="ion-text-center" color="danger">{{errorMessage}}</ion-text>
      </form>
    </ion-col>
  </ion-row>
</ion-grid>