<ion-header no-border>
  <ion-toolbar>
    <ion-title>{{'HOME.TITLE' | translate }}</ion-title>
    <ion-button color="dark" slot="end" fill="clear" (click)="disconnect()">
      <ion-icon name="log-out"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <ion-card>
        <ion-card-header>
          <ion-card-title>TITRE</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>DESCRIPTION</p>
        </ion-card-content>
      </ion-card>

      <ion-card>
          <ion-card-header>
            <ion-card-title>TITRE</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>DESCRIPTION</p>
          </ion-card-content>
        </ion-card>

<ion-list lines="none">
  <ion-list-header>
    <ion-label>Liens Utiles</ion-label>
  </ion-list-header>
  <ion-item (click)="goSettings()">
    <ion-icon slot="start" color="medium" name="options"></ion-icon>
    <ion-label>{{'SETTINGS.TITLE' | translate }}</ion-label>
  </ion-item>
  <ion-item href="https://www.eiffel-bordeaux.org/">
    <ion-icon slot="start" color="medium" name="apps"></ion-icon>
    <ion-label>{{'HOME.EIFFEL' | translate }}</ion-label>
  </ion-item>
  <ion-item href="www.cfafl.fr">
    <ion-icon slot="start" color="medium" name="navigate"></ion-icon>
    <ion-label>{{'HOME.PAREO' | translate }}</ion-label>
  </ion-item>
  <ion-item (click)="contact()">
    <ion-icon slot="start" color="medium" name="call"></ion-icon>
    <ion-label>{{'HOME.CALL_CFA' | translate }}</ion-label>
  </ion-item>
</ion-list>

</ion-content>
