<ion-header no-border>
  <ion-toolbar>
    <ion-title>{{'HOME.TITLE' | translate }}</ion-title>
    <ion-button color="dark" slot="end" fill="clear" (click)="disconnect()">
      <ion-icon name="log-out"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>


</ion-content>

<ion-footer>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button class="button" fill="outline" expand="block" color="dark" (click)="goSettings()">{{'SETTINGS.TITLE' | translate }}</ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="button" fill="outline" expand="block" color="dark" href="https://www.eiffel-bordeaux.org/">{{'HOME.EIFFEL' | translate }}</ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="button" fill="outline" expand="block" color="dark" href="http://www.cfafl.fr/netypareo/index.php">{{'HOME.PAREO' | translate }}</ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="button" fill="outline" expand="block" color="dark" href="http://pgiorgi.name/gpc">{{'HOME.GIORGI' | translate }}</ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="button" fill="outline" expand="block" color="dark" (click)="contact()">{{'HOME.CALL_CFA' | translate }}</ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="button" fill="outline" expand="block" color="dark" (click)="navigateEmailUser()">{{'HOME.EMAIL_USER' | translate }}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-footer>