<ion-grid>
    <ion-row>
      <ion-col>
        <h2>Vos renseignements</h2>
        <br>
        <form [formGroup]="setUserInfosForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <ion-label for="status">Vous êtes :</ion-label>
            <ion-select formControlName="status" placeholder="Une chèvre">
                <ion-select-option value="prof" checked="true">Professeur</ion-select-option>
                <ion-select-option value="student">Eleve</ion-select-option>
            </ion-select>
          </div>
          <div class="form-group">
            <label for="displayName">Votre Nom :</label>
            <ion-input type="displayName" id="displayName" class="form-control" formControlName="displayName"></ion-input>
          </div>
          <br>
          <ion-button color="primary" type="submit" [disabled]="setUserInfosForm.invalid">Sauvegarder mes infos</ion-button>
        </form>
        <p class="text-danger">{{ errorMessage }}</p>
      </ion-col>
    </ion-row>
  </ion-grid>