<ion-grid>
  <ion-row>
    <ion-col>
      <h2>{{'LOGIN.CONNECT_PROF' | translate }}</h2>
      <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <ion-label for="email">{{'LOGIN.MAIL' | translate }}</ion-label>
          <ion-input type="text" id="email" class="form-control custom-class" formControlName="email"></ion-input>
        </div>
        <div class="form-group">
          <ion-label for="password">{{'LOGIN.PASSWORD' | translate }}</ion-label>
          <ion-input type="password" id="password" class="form-control" formControlName="password"></ion-input>
        </div>
        <ion-button class="btn btn-primary" type="submit" [disabled]="signinForm.invalid">{{'COMMON.SIGNIN' | translate }}</ion-button>
      </form>
      <p class="text-danger">{{ errorMessage }}</p>
    </ion-col>
  </ion-row>
</ion-grid>